* {
  padding: 0;
  margin: 0;
  /* background-color: black; */
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
.max-width {
  padding: 0 80px;
  margin: auto;
  max-width: 1300px;
}

/* navbar */
.nav-bar .max-width {
  display: flex;
  justify-content: flex-end;
}
.navbar {
  background-color: black;
  justify-content: flex-end;
  position: fixed;
  padding: 2rem 0;
  width: 100%;
  font-family: "Times New Roman", Times, serif;
}
.right-side {
  padding-right: 3rem;
}
.nav-titles li a {
  display: block;
  color: white;
  font: 500;
  padding: 0 1.3rem;
  font-size: 1.5rem;
}
.nav-titles li {
  list-style: none;
  display: inline-block;
}

/* home */
.menu-section {
  background-color: black;
  height: 100vh;
  min-height: 500px;
  display: flex;
}
.menu-section .max-width {
  width: 100%;
  display: flex;
}
.home-content {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
  line-height: 3rem;
  letter-spacing: 3px;
}
.menu-section .home-content .text1 {
  font-family: "Protest Riot", sans-serif;
  font-size: 6rem;
  padding: 1.5rem;
}
.menu-section .home-content .text2 {
  font-family: "Inria Sans", sans-serif;
  font-size: 2rem;
  padding: 1rem;
}

/* about me  */
.about-me {
  background: radial-gradient(#e1efff, white);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  padding: 3rem 8rem;
}
.about-me-head {
  font-size: 4rem;
  padding-bottom: 1rem;
}
.about-me-content {
  display: flex;
  flex-direction: row;
  padding: 2rem 0;
}
.me-img img {
  height: 25rem;
  width: 25rem;
  border-radius: 5%;
}
.me-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-left: 5rem;
}
.me-info-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.content-head {
  font-size: 2rem;
  font-family: "Ubuntu", sans-serif;
  padding-bottom: 2rem;
}
.content-info {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 2rem;
  word-spacing: 0.2rem;
}
